* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#wrapper {
  width: auto;
  margin: auto;
}

/* NAVBAR */

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  margin: 10px;
  border-bottom: 2px solid white;
}

.navbar a {
  float: left;
  font-size: 25px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 2px solid white;
  font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
}

@media screen and (max-width: 600px) {
.navbar a {
    float: none;
    width: 100%;
}
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: black;
  border-bottom: 2px solid white;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: white;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* TEXT */

#tittle {
  font-size: 100px;
  text-align: center;
  font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
  margin: 10% 0%;
}

#text {
  font-size: 20px;
  font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
  text-align: justify;
  text-justify: inter-word;
  margin: 5% 15%;
  text-indent: 5%;
  line-height: 1.5;
}

#refs {
  font-size: 10px;
  font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
  text-align: justify;
  text-justify: inter-word;
  text-align: center;
  line-height: 1;
  margin-bottom: 10%;
}

/* BLOCOS */

.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 5% 0%;
}

.image {
  text-align: center;
}

.image, .text {
  width: 50%;
}

@media screen and (max-width: 1000px) {
  .image, .text {
    width: 100%;
  }
}